<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> App AlNao Angular Ionic React </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="infoG.open()" tappable  outline round small>
        Info <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
      <ion-chip *ngIf="userName!==''"  color="dark">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>{{userName}}</ion-label>
        <ion-icon name="log-out" (click)="this.logout()"></ion-icon>
      </ion-chip>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-menu-toggle  auto-hide="false"  >
    <ion-item routerDirection="root" routerLink="/annotazioni" routerLinkActive="selected" detail="true" 
      *ngIf="visualizzaAnnotazioni">
      <ion-label   >Lista Annotazioni</ion-label>
    </ion-item>
    <ion-item>
      <frontend-echo-component ></frontend-echo-component>
    </ion-item>
  </ion-menu-toggle>
  <frontend-informazioni-generali #infoG></frontend-informazioni-generali>
</ion-content>

<ion-card>
  <ion-card-header>
    Grafico di esempio
  </ion-card-header>
  <ion-card-content >
    <canvas #graficoDiEsempioEl style="position: relative; height:20vh; width:40vw"></canvas>
  </ion-card-content>
</ion-card>
