<ion-content [fullscreen]="true">
    <ion-header >
      <ion-toolbar color="primary">
        <ion-title size="large">Lista annotazioni</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list *ngIf="isLoaded$ | async">
        <ion-item *ngFor="let el of list$ | async ; index as i"

            [routerLink]="['/','annotazione-dettaglio', el.id ]"
            lines="none" detail="true" 
        >
            <ion-label>{{el.nome}}</ion-label>
        </ion-item>
    </ion-list> 
</ion-content> 