<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Annotazioni </ion-title>
    <ion-buttons slot="primary">

      <ion-button (click)="select.open()" tappable color="dark" outline round small>
        Send
        <ion-icon slot="end" name="reorder"></ion-icon>
      </ion-button>

      <ion-button [routerLink]="['/','annotazione', '0' ]" color="dark" outline round small>
        New
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar *ngIf="isLoaded$ | async" showCancelButton="never" color="medium" animated placeholder="Ricerca" (keyup)="filtra($event)" #autofocus ></ion-searchbar>
    <ion-list *ngIf="isLoaded$ | async">
        <ion-item *ngFor="let el of list$ | async ; index as i"
            [routerLink]="['/','annotazione', el.id ]"
             detail="true"  routerLinkActive="active"
        >
            <ion-thumbnail slot="start">
              <!-- <img [src]="getImage(el.stato)" /> -->
              <ion-icon [name]="getImage(el.stato)"  size="large"></ion-icon>
            </ion-thumbnail>
            <ion-label>
              <h3>Nome: {{ el.nome }}</h3>
              <p>Tipo: {{ el.tipo }}</p>
              <p>Fase: {{ el.fase }}</p>
            </ion-label>
        </ion-item>
    </ion-list> 
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <frontend-spinner *ngIf="!(isLoaded$ | async)  && false" [testo]="spinnerMessage"></frontend-spinner>
    <frontend-selezione-multipla #select 
      [data]="list$.pipe()"
      (selectedToCaller)="selectedToCaller($event)"
    >
    </frontend-selezione-multipla>
</ion-content> 
