<ion-content [fullscreen]="true" id="annotazioni">
    <ion-header >
      <ion-toolbar color="primary">
        <ion-title size="large">Lista annotazioni</ion-title>
      </ion-toolbar>
      <ion-searchbar showCancelButton="never" color="medium" animated placeholder="Ricerca" (keyup)="filtra($event)" ></ion-searchbar>
    </ion-header>
    <ion-list *ngIf="isLoaded$ | async">
        <ion-item *ngFor="let el of pageOfItems ; index as i"
            [routerLink]="['/','annotazione-dettaglio', el.id ]"
            lines="none" detail="true" 
        >
            <ion-label class="rossetto">{{el.nome}}</ion-label>
        </ion-item>
    </ion-list> 
    <ion-card *ngIf="isLoaded$ | async">
      <jw-pagination [items]="itemlist" (changePage)="onChangePage($event)"  
        [pageSize]="2"></jw-pagination>
    </ion-card>
    <div class="pagination">pagination</div>
    <ion-list *ngIf="isLoaded$ | async">
      <ion-item *ngFor="let el of listaVisualizzata$ ; index as i"
          [routerLink]="['/','annotazione-dettaglio', el.id ]"
          lines="none" detail="true" 
      >
        <ion-label class="rossetto">{{el.nome}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>  


