<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Dettaglio </ion-title>
    <ion-buttons slot="end" >
      <ion-button [disabled]="!noteForm.valid" (click)="onSubmit()" color="dark" outline round small>
        Salva <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="isLoaded$ | async">
    <ion-list  *ngFor="let el of list$ | async ; index as i"  [formGroup]="noteForm">
      <ion-item>
        <ion-label  position="stacked" color="medium" >Id</ion-label>
        <ion-input type="text" id="id" name="id" formControlName="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="stacked" color="medium" >Nome</ion-label>
        <ion-input type="text" id="nome" name="nome" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="stacked" color="medium" >Descrizione</ion-label>
        <ion-input type="text" id="descrizione" name="descrizione" formControlName="descrizione"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="stacked" color="medium" >Tipo</ion-label>
        <ion-input type="text" id="tipo" name="tipo" formControlName="tipo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="stacked" color="medium" >Stato</ion-label>
        <ion-input type="text" id="stato" name="stato" formControlName="stato"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="stacked" color="medium" >Fase</ion-label>
        <ion-input type="text" id="fase" name="fase" formControlName="fase"></ion-input>
      </ion-item>
      <ion-item >        
        <ion-label  position="stacked" color="medium" >Data inserimento</ion-label>
        <ion-label slot="end">{{el.datainserimento}}</ion-label>
      </ion-item>
      <ion-item >        
        <ion-label   position="stacked"color="medium" >Utente</ion-label>
        <ion-label slot="end">{{el.utenteinserimento}}</ion-label>
      </ion-item>
      <ion-item *ngIf="el.utentemodifica !== '' ">        
        <ion-label  position="stacked" color="medium" >Data ultima modifica</ion-label>
        <ion-label slot="end">{{el.datamodifica}}</ion-label>
      </ion-item>
      <ion-item *ngIf="el.utentemodifica !== '' "> 
        <ion-label   position="stacked"color="medium" >Utente ultima modifica</ion-label>
        <ion-label slot="end">{{el.utentemodifica}}</ion-label>
      </ion-item>
    </ion-list>

</ion-content> 
